@using _23_MVC_PARTIAL_VIEWS
@model EmployeeViewModel
<div style="border: 1px solid black; margin: 5px">
    <h2>Employee Details (parent view)</h2>
    <p>Firstname: @Model.Firstname</p>
    <p>Surname: @Model.Surname</p>
    @await Html.PartialAsync("_Address", Model.Address)
</div>